<div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Decrypt an AES-CTR string</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                               
                                  
                                     <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">Encrypted string:</label>
                                        <div class="col-sm-10">
                                            <textarea rows="4" cols="50" class="form-control" id="encryptedString" placeholder="Some text..."></textarea>
                                        </div>

                                    </div>
                                       <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">Password:</label>
                                        <div class="col-sm-10">
                                            <input type="text"  class="form-control" id="password" placeholder="">
                                        </div>

                                    </div>

                                     <div class="form-group">
                                        <label for="y" class="col-sm-2 control-label">Counter:</label>
                                        <div class="col-sm-10">
                                            <input type="text"  class="form-control" id="counter" value="6">
                                        </div>

                                    </div>

                                       <div class="form-group">
                                     

                                      <div class="form-group">
                                        <label for="hashDOM" class="col-sm-2 control-label">Decrypted string:</label>
                                        <div class="col-sm-10">
                                            <div id="decryptString" style="background-color: #dddddd;padding: 20px;overflow-wrap: break-word;"></div>
                                        </div>
                                    </div>


                                     <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                          <button type="button" id="hashButton" class="btn btn-primary" onclick="app.decryptString()"><i class="fa fa-search"></i>Decrypt</button>
                                        </div>
                                    </div>
                                  
                                </form>

                            </div>
                        </div>
                    </div>
                   
                </div>
               