<div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Account status</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table">  
                                    <tbody>
                                        <tr>
                                            <td width="50%"><strong>Account public address</strong></td>
                                            <td  width="40%" id="accountAddressDOM"></td>
                                            <td width="10%"><span class="label label-success label-circle pull-right"><i class="icon-check"></i></span></td>
                                        </tr>
                                        <tr>
                                           
                                            <td><strong>Account XRP balance</strong></td>
                                            <td id="accountBalanceDOM"></td>
                                             <td width="10%" id="accountBalanceIconDOM"><span class="label label-success label-circle pull-right"><i class="icon-check"></i></span></td>
                                        </tr>
                                        <tr>
                                           
                                            <td><strong>Account sequence number</strong></td>
                                            <td id="accountSequenceNumberDOM"></td>
                                             <td width="10%"><span class="label label-success label-circle pull-right"><i class="icon-check"></i></span></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                     <div class="col-md-12 col-lg-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Server Status</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table">  
                                    <tbody>
                                        <tr>
                                            
                                           
                                            <td  width="50%"><strong>Minimum required XRP balance</strong></td>
                                            <td id="minimumXrpDOM"  width="40%"></td>
                                            <td width="10%"><span class="label label-success label-circle pull-right"><i class="icon-check"></i></span></td>
                                        </tr>
                                        <tr>
                                           
                                            <td><strong>Transaction fees (drops)</strong></td>
                                            <td id="transactionFeesDOM"></td>
                                            <td><span class="label label-success label-circle pull-right"><i class="icon-check"></i></span></td>
                                        </tr>
                                      
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12" id="buttonContinueDOM" style="display: none; text-align: center;"><button type="button" class="btn btn-success" onclick="window.location.href='#/destinationAddress'"><i class="fa fa-check"></i> Everithing looks good! Let's go!</button><br><br></div>
                    <div class="col-md-12 col-lg-12" id="buttonGoBackDOM" style="display: none; text-align: center;"><button type="button" class="btn btn-default" onclick="window.location.href='#/'"><i class="fa fa-chevron-left"></i> Go back to the account settings</button><br><br></div>
                </div>
               