<div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Search result</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table" style="table-layout: fixed; width: 100%">  
                                    <tbody>
                                        <tr>
                                            <td width="30%"><strong>Source address</strong></td>
                                            <td  width="70%" id="accountAddressDOM"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Destination address</strong></td>
                                            <td id="destintionAddressDOM"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Hash SHA2-512</strong></td>
                                            <td id="fileHashDOM" style="word-wrap: break-word;"></td>
                                        </tr>
                                         <tr>
                                            <td><strong>Message (encrypted)</strong></td>
                                            <td style="word-wrap: break-word;"><span id="messageDOM" ></span>  &nbsp;  <button type="button" class="btn btn-success" id="decryptMessageDOM" onclick="app.decryptMessage()" style="display: none;">Decrypt</button></td>
                                        </tr>
                                         <tr>
                                            <td><strong>XRP used</strong></td>
                                            <td id="xrpAmountDOM" ></td>
                                        </tr>
                                         <tr>
                                            <td><strong>Timestamp</strong></td>
                                            <td id="timestampDOM" style="word-wrap: break-word;"></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    
                </div>
               