<div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Review and send</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table" style="table-layout: fixed; width: 100%">  
                                    <tbody>
                                        <tr>
                                            <td width="30%"><strong>Source address</strong></td>
                                            <td  width="70%" id="accountAddressDOM"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Destination address</strong></td>
                                            <td id="destintionAddressDOM"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Cost to send (drops)</strong></td>
                                            <td id="costToSendDOM"></td>
                                        </tr>
                                         <tr>
                                            <td><strong>File name</strong></td>
                                            <td id="fileNameDOM" style="word-wrap: break-word;"></td>
                                        </tr>

                                        <tr>
                                            <td><strong>Hash SHA2-512</strong></td>
                                            <td id="fileHashDOM" style="word-wrap: break-word;"></td>
                                        </tr>
                                         <tr>
                                            <td><strong>Message (encrypted)</strong></td>
                                            <td id="messageDOM" style="word-wrap: break-word;"></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12" id="buttonContinueDOM" style="text-align: center;"><button type="button" class="btn btn-success" onclick="app.sendTransaction()"><i class="fa fa-check"></i> Everithing looks good! Save it forever!</button><br><br></div>
                    <div class="col-md-12 col-lg-12" id="buttonGoBackDOM" style="text-align: center;"><button type="button" class="btn btn-default" onclick="window.history.go(-1)"><i class="fa fa-chevron-left"></i> Go back </button><br><br></div>
                </div>
               