     <link rel="stylesheet" href="assets/plugins/dropzone/css/dropzone.css">
    <link rel="stylesheet" href="assets/plugins/dropzone/css/basic.css">
    <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Hash file</h3>
                            </div>
                            <div class="panel-body">
                               
                                
                                <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> You can now create a cryptographic hash of a file and send it to the ledger.<br>
                                   The file will not leave your browser, all operations are done locally.</div>
                                    <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                    <div class="form-group">

                                               <input type="file" id="myFile" multiple size="50" onchange="$('#resultsTableDOM').css('display', 'none')">
                                    </div>
                                   </div>
                                   <div class="col-md-6 col-lg-6">
                                  
                                        <div style="text-align: center;">
                                           <button type="button" id="checkDestinationAddressButton" class="btn btn-primary" onclick="app.calculateHash();"><i class="fa fa-check"></i>Calculate hash</button>
                                        </div>
                                     </div>  
                                  </div>
                                  

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="display: none;" id="resultsTableDOM">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Results</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped" style="table-layout: fixed; width: 100%">
                                    <tbody>
                                        <tr>
                                            <td width="30%"><strong>File name</strong></td>
                                            <td width="70%" id="fileNameDOM"></td>
                                        </tr>
                                         <tr>
                                            <td><strong>File size</strong></td>
                                            <td  id="fileSizeDOM"></td>
                                        </tr>
                                         <tr>
                                            <td><strong>Hash SHA2-512</strong></td>
                                            <td ><div style="word-wrap: break-word;"  id="fileHashDOM"></div></td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                          <div style="text-align: center;"><button type="button" class="btn btn-success" onclick="window.location.href='#/message'"><i class="fa fa-check"></i> Everithing seems OK, go ahead!</button></div>
                    </div>
                 
                </div>
               
               